<div class="newsletter-cta">
  <div class="newsletter-cta-content">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/miguelalonsojr"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/miguelalonsojr', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <div class="form-group">
        <input
          type="email"
          name="email"
          id="bd-email"
          placeholder="Subscribe to the newsletter with your email..."
          required
          aria-label="Email address"
        />
        <input type="submit" value="Subscribe" />
      </div>
    </form>
  </div>
</div>
